html{
  box-sizing: border-box;
  font-family: "Outfit", serif;
  font-size: 15px;
  font-weight: 400;
  font-family: "Outfit", serif;
}
body {
  background-color:#d6e2f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
}
.container{
  max-width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 10px 40px hsl(220, 15%, 55%);
  padding: 15px;
  border-radius: 15px;
}
img{
  width:100%;
  border-radius: 20px;
}
.item{
  width: 288px;
  height: 288px;
  border-radius: 15px;
  text-align: center;
}
.item-body{
  text-align: center;
}
h1{
  color:#1f3251;
  font-size: 1.5rem;
}
p{
  color:#d6e2f0;
  text-align: center;
}



